video {
    width: 100%;
}

.dash-video-player {
    position: relative;  /* This position relative is needed to position the menus */
    width: 640px;
    margin: 0 auto;
}

label{
    display:inline-block;
    width:200px;
    margin-right:30px;
    text-align:right;
}

input{

}

fieldset{
    border:none;
    width:500px;
    margin:0px auto;
}
body {
    background-color: #101010;
    color: #ffffff;
}
h2 {
    color: #ffffff;
}

 image {
     display: none;
 }
