<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Admin page</title>
    <script type="text/javascript"></script>
</head>
<body>
<center>
    <h2 th:utext="'Welcome user: ' + ${usrname} + ' !'"></h2>
    <!--Imagine some cool website features like editing database but thats not my job ;)-->
    <h3>You can change usernames:</h3>
        <form method='get' action='changeusrname'>
            <label for="oldusr"> Old Username</label>
            <input id="oldusr" type="text" name='oldusr'><br>
            <label for="newusr"> New Username</label>
            <input id="newusr" type="text" name='newusr'><br>
            <input type='submit' value='Change!'/>
    </form>
    <br>
    <h3>Register new users to our wonderful and safe web application!</h3>
    <form method='post' action='register'>
        <label for="username">Username </label>
        <input id="username" type='text' name='username'/><br>
        <label for="email">Email </label>
        <input id="email" type="text" name='email'><br>
        <label for="pwd">Password </label>
        <input id="pwd" type="text" name='pwd'><br>
        <input type='submit' value='Register'/>
    </form>
</center>
</body>
</html>