<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Front page</title>
</head>
<body>
<center>
    <h2 th:utext="'Username successfully changed to ' + ${usrname} + ' !'"></h2>
    <br>
    <form method='get' action='index'>
        <input type='submit' value='Login page'/>
    </form>
</center>
</body>
</html>