<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <meta charset="UTF-8"/>
    <title></title>
    <style>
        p {
            display: none;
        }
    </style>
</head>
<body>
<div style="text-align: center;">
    <h2>Login form</h2>
    <h3> </h3>
    <form method='post' action='home'>
        <label for="username"> Username</label>
        <input id="username" type='text' name='username'/><br>

        <label for="pwd"> Password</label>
        <input id="pwd" type="text" name='pwd'><br>

        <input type='submit' value='Login'/>
    </form>
    <br>
    <form method='get' action='registerweb'>
        <input type='submit' value='Register'/>
    </form>
    <br>
    <form id="search_form" method="get" action="search">
        <label for="search"> Search </label>
        <input id="search" type="utext" name='search'><br>
        <input id="search_submit" type='submit' value='search'/>
    </form>
<!--    <script>-->
<!--        function showMessage() {-->
<!--           var x= document.getElementById('search').value;-->
<!--            alert("Could not find : " + x);-->
<!--        }-->
<!--    </script>-->
</div>

</body>
</html>