<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <meta charset="UTF-8"/>
    <title>Wrong login</title>
    <style>
        #image {
            display: none;
        }
    </style>
</head>
<body>
<center>
    <h2>Login unsuccessful</h2>
    <img id="image" src=
            "https://media.geeksforgeeks.org/wp-content/uploads/20210915115837/gfg3.png"
         alt="GFG image" />
    <p id='text' style = 'display: none'>Hello Javascript</p>
    </div>


</center>
</body>
</html>