<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <title>Register</title>
</head>
<body>
<center>
    <h2>Register to our wonderful and safe web application!</h2>
    <form id="form" method='post' action='register'>
        <label for="username">Username </label>
        <input id="username" type='text' name='username'/><br>

        <label for="email">Email </label>
        <input id="email" type="text" name='email'><br>

        <label for="pwd">Password </label>
        <input id="pwd" type="text" name='pwd'><br>

        <input id='submit' type='submit' value='Register'/>
    </form>
</center>
</body>
</html>