<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <meta charset="UTF-8"/>
    <title>Search</title>
</head>
<body>
<center>
    <h2 th:utext="'You searched for: ' + ${search} + ' !'"></h2>

</center>
</body>
</html>